<app-grid>
  <header class="flex justify-center items-center">
    <app-redirectify-logo-name class="flex pt-12"></app-redirectify-logo-name>
  </header>
  <div class="flex flex-col items-center justify-center">
    <p class="text-sm">Escolha um plano que atenda as suas<br> necessidades</p>
    <div class="flex flex-col gap-5 items-center">
      <p>Planos</p>
      <app-card-subscription-plan  [isAnnual]="true" [pricing]="10" class="border-l-4 border-b-4 border-black rounded-lg"></app-card-subscription-plan>
      <app-card-subscription-plan  [isAnnual]="true" [pricing]="10" class="border-l-4 border-b-4 border-black rounded-lg"></app-card-subscription-plan>
      <app-card-subscription-plan  [isAnnual]="true" [pricing]="10" class="border-l-4 border-b-4 border-black rounded-lg"></app-card-subscription-plan>
    </div>

  </div>
</app-grid>
