package views

templ Landpage() {
	@Base() {
			<form hx-post="/web/hello" method="POST" hx-target="#hello-container">
				<input class="border border-black px-1 rounded" id="name" name="name" type="text"/>
				<button type="submit">Submit</button>
			</form>
			<div id="hello-container"></div>

	}
}

templ HelloPost(name string) {
	<div class="text-3xl">Hey, { name }</div>
}
