package views

templ Loading() {
	@Base() {
		<main class="bg-rprimary flex flex-col items-center justify-center min-h-screen">
			<img class="w-1/6" src="/static/images/logo_light.svg" alt="Redirectify" />
		</main>
	}
}
