<div class="md:hidden">
  <header class="flex h-20 w-full z-0  shadow-md relative">
    <!-- SideBar buttom-->
    <button class=" flex h-full w-16 bg-transparent justify-center items-center absolute  " (click)="toggle()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
      </svg>
    </button>
    <!-- END SideBar buttom-->
    <!-- Header Content -->
    <div class="flex w-full h-full justify-center items-center text-2xl" >
      <div class="flex items-center gap-3">
        <app-icon-redirectify-logo width="40" hight="20" ></app-icon-redirectify-logo>
        <p class=" font-['DM Sans'] font-bold ">Redirectfy</p>
      </div>
    </div>
    <!-- END Header Content -->
  </header>
  <!-- nav -->
  <nav [ngClass]="sidebarVisible? 'translate-x-0' : '-translate-x-full'"  class="flex border flex-col bg-white w-64 h-full absolute top-0 left-0 z-20 ease-in-out duration-500">
    <span class="flex w-full h-20 items-center font-semibold justify-center border-b">
      <p class="w-full text-center">Pablo Eduardo</p>
      <button class="p-4 bg-white  h-full" (click)="toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z" clip-rule="evenodd" />
        </svg>
      </button>
    </span>
    <!-- container botões -->
    <div class="flex flex-col h-full justify-between w-full pl-2 py-6">
      <div class="flex flex-col justify-evenly w-full ">
        <button class=" flex text-lg w-52 gap-3 font-medium pl-6 h-16 hover:shadow-sm items-center text-[#35B5AE] active:bg-[rgba(53,181,174,0.3)]  hover:border-[#35B5AE] hover:border-l-4  hover:bg-gray-100 hover:bg-opacity-80 hover:text-[#35B5AE] active:text-white transition-colors  duration-100 rounded-ee-3xl focus:bg-[#35B5AE] focus:border-transparent focus:border-l-4 focus:text-white " [routerLink]="'/home'" >
          <app-icon-redirectify-logo  ngClass="fill-current" width="20" height="20"  ></app-icon-redirectify-logo> Meus Redirects
        </button>
        <button class="  flex text-lg w-52 gap-3 font-medium pl-5 h-16 hover:shadow-sm items-center text-[#35B5AE] active:bg-[rgba(53,181,174,0.3)]  hover:border-[#35B5AE] hover:border-l-4  hover:bg-gray-100 hover:bg-opacity-80 hover:text-[#35B5AE] active:text-white transition-colors  duration-100 rounded-ee-3xl focus:bg-[#35B5AE] focus:border-transparent focus:border-l-4 focus:text-white " routerLink="/account">
        <app-icon-user ngClass="fill-current" width="25" height="25"  ></app-icon-user> Minha Conta
      </button>
      <button  class=" flex text-lg w-52 gap-3 font-medium pl-5 h-16 hover:shadow-sm items-center text-[#35B5AE] active:bg-[rgba(53,181,174,0.3)]  hover:border-[#35B5AE] hover:border-l-4  hover:bg-gray-100 hover:bg-opacity-80 hover:text-[#35B5AE] active:text-white transition-colors  duration-100 rounded-ee-3xl focus:bg-[#35B5AE] focus:border-transparent focus:border-l-4 focus:text-white " routerLink="/support">
        <svg ngClass="fill-current" class=" w-6 h-6" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16,2C9.4,2,4,7.4,4,14v3c0,2.8,2.2,5,5,5c0.6,0,1-0.4,1-1v-8c0-0.6-0.4-1-1-1c-1.1,0-2.1,0.4-2.9,1c0.5-5,4.8-9,9.9-9 s9.4,3.9,9.9,9c-0.8-0.6-1.8-1-2.9-1c-0.6,0-1,0.4-1,1v8c0,0.6,0.4,1,1,1c0.6,0,1.3-0.1,1.8-0.4c-1.1,2-2.8,3.6-4.9,4.5 c-0.2-1.2-1.2-2.2-2.5-2.2c-1.3,0-2.4,1.1-2.4,2.4c0,0.7,0.3,1.4,0.9,1.9c0.5,0.4,1,0.6,1.6,0.6c0.1,0,0.3,0,0.4,0 C23.6,28,28,22.9,28,17v-3C28,7.4,22.6,2,16,2z"></path>
          </g>
        </svg>
          Suporte
        </button>
    </div>
    <button class=" flex text-lg w-52 gap-3 font-medium pl-5 h-16 hover:shadow-sm items-center text-red-500 active:bg-[rgba(53,181,174,0.3)]  hover:border-[#35B5AE] hover:border-l-4  hover:bg-gray-100 hover:bg-opacity-80 hover:text-[#35B5AE] active:text-white transition-colors  duration-100 rounded-ee-3xl focus:bg-[#35B5AE] focus:border-transparent focus:border-l-4 focus:text-white " (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 "  viewBox="0 0 24 24" fill="none">
        <path d="M12 3.25C12.4142 3.25 12.75 3.58579 12.75 4C12.75 4.41421 12.4142 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25C12.4142 19.25 12.75 19.5858 12.75 20C12.75 20.4142 12.4142 20.75 12 20.75C7.16751 20.75 3.25 16.8325 3.25 12C3.25 7.16751 7.16751 3.25 12 3.25Z" class="fill-current"/>
        <path d="M16.4697 9.53033C16.1768 9.23744 16.1768 8.76256 16.4697 8.46967C16.7626 8.17678 17.2374 8.17678 17.5303 8.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L17.5303 15.5303C17.2374 15.8232 16.7626 15.8232 16.4697 15.5303C16.1768 15.2374 16.1768 14.7626 16.4697 14.4697L18.1893 12.75H10C9.58579 12.75 9.25 12.4142 9.25 12C9.25 11.5858 9.58579 11.25 10 11.25H18.1893L16.4697 9.53033Z" class="fill-current"/>
      </svg>
      <p>Sair</p>
    </button>
  </div>
  <!-- end c.botoes -->
  </nav>
  <!-- end nav -->
  <!-- overlay -->
  <div [ngClass]="sidebarVisible? 'block':'hidden'" class="absolute w-full h-full top-0 bg-gray-500 bg-opacity-20 z-10 transition-all ease-in-out duration-1000" (click)="toggle()">

  </div>
</div>

<div (mouseenter)="this.isHovered = !isHovered" (mouseleave)="this.isHovered = !isHovered" class="group hidden items-center font-semibold md:flex flex-col h-full w-20 hover:w-60 ease-in-out duration-500 ">
<span class=" pl-6 mt-5 flex gap-2 w-full items-center ">
  <app-icon-redirectify-logo  width="35" ></app-icon-redirectify-logo>
  <p  class="text-white text-2xl group-hover:text-black ease-in-out duration-500">Redirectfy</p>
</span>
<div class=" items-center gap-4  w-full flex flex-col h-full py-5 mt-5">
<div class="items-center gap-4  w-full flex flex-col h-full ">
  <button routerLink="/home" class="flex gap-2 w-48 h-12 text-lg text-nowrap items-center {{isHovered?'text-gray-400':'text-transparent'}} hover:text-[#34B0A9] justify-center translate-x-[4.4rem] group-hover:translate-x-0 transition  hover:border-l-2 hover:drop-shadow-md hover:border-[#34B0A9] hover:bg-gray-50 rounded-ee-3xl ease-in-out duration-300 active:bg-[#34B0A9] active:bg-opacity-60 active:text-white "> <app-icon-redirectify-logo width="28" [color]="isHovered?'rgba(27,91,87,1)':'#C2C2C2'"></app-icon-redirectify-logo> Meus Redirects</button>
  <button routerLink="/account" class="flex pl-2 gap-1 w-48 h-12 text-lg text-nowrap items-center {{isHovered?'text-gray-400':'text-transparent'}} hover:text-[#34B0A9]  translate-x-[4.3rem] group-hover:translate-x-0 transition  hover:border-l-2 hover:drop-shadow-md hover:border-[#34B0A9] hover:bg-gray-50 rounded-ee-3xl ease-in-out duration-300 active:bg-[#34B0A9] active:bg-opacity-60 active:text-white ">
    <svg class="fill-gray-400 group-hover:fill-[rgba(27,91,87,1)] w-9 h-9"  viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_703_2102)">
    <path d="M17.0003 8.50001C18.5587 8.50001 19.8337 9.77501 19.8337 11.3333C19.8337 12.8917 18.5587 14.1667 17.0003 14.1667C15.442 14.1667 14.167 12.8917 14.167 11.3333C14.167 9.77501 15.442 8.50001 17.0003 8.50001ZM17.0003 22.6667C20.8253 22.6667 25.217 24.4942 25.5003 25.5H8.50033C8.82616 24.48 13.1895 22.6667 17.0003 22.6667ZM17.0003 5.66667C13.8695 5.66667 11.3337 8.20251 11.3337 11.3333C11.3337 14.4642 13.8695 17 17.0003 17C20.1312 17 22.667 14.4642 22.667 11.3333C22.667 8.20251 20.1312 5.66667 17.0003 5.66667ZM17.0003 19.8333C13.2178 19.8333 5.66699 21.7317 5.66699 25.5V28.3333H28.3337V25.5C28.3337 21.7317 20.7828 19.8333 17.0003 19.8333Z" />
    </g>
    <defs>
    <clipPath id="clip0_703_2102">
    <rect width="34" height="34" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    Minha Conta
  </button>
  <button routerLink="/support" class="flex pl-2 gap-2 w-48 h-12 text-lg text-nowrap items-center {{isHovered?'text-gray-400':'text-transparent'}} hover:text-[#34B0A9]  translate-x-[4.4rem] group-hover:translate-x-0 transition  hover:border-l-2 hover:drop-shadow-md hover:border-[#34B0A9] hover:bg-gray-50 rounded-ee-3xl ease-in-out duration-300 active:bg-[#34B0A9] active:bg-opacity-60 active:text-white ">
  <svg class="fill-gray-400 group-hover:fill-[rgba(27,91,87,1)] w-8 h-8" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16,2C9.4,2,4,7.4,4,14v3c0,2.8,2.2,5,5,5c0.6,0,1-0.4,1-1v-8c0-0.6-0.4-1-1-1c-1.1,0-2.1,0.4-2.9,1c0.5-5,4.8-9,9.9-9 s9.4,3.9,9.9,9c-0.8-0.6-1.8-1-2.9-1c-0.6,0-1,0.4-1,1v8c0,0.6,0.4,1,1,1c0.6,0,1.3-0.1,1.8-0.4c-1.1,2-2.8,3.6-4.9,4.5 c-0.2-1.2-1.2-2.2-2.5-2.2c-1.3,0-2.4,1.1-2.4,2.4c0,0.7,0.3,1.4,0.9,1.9c0.5,0.4,1,0.6,1.6,0.6c0.1,0,0.3,0,0.4,0 C23.6,28,28,22.9,28,17v-3C28,7.4,22.6,2,16,2z"></path>
    </g>
  </svg>
    Suporte
  </button>
</div>
<button class=" flex pl-2 gap-2 w-48 h-12 text-lg text-nowrap items-center {{isHovered?'text-red-500':'text-transparent'}}   translate-x-[4.4rem] group-hover:translate-x-0 transition  hover:border-l-2 hover:drop-shadow-md hover:border-[#34B0A9] hover:bg-gray-50 rounded-ee-3xl ease-in-out duration-300 active:bg-[#34B0A9] active:bg-opacity-60 active:text-white" (click)="logout()">
  <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-red-500 w-8 h-8 "  viewBox="0 0 24 24" fill="none">
    <path d="M12 3.25C12.4142 3.25 12.75 3.58579 12.75 4C12.75 4.41421 12.4142 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25C12.4142 19.25 12.75 19.5858 12.75 20C12.75 20.4142 12.4142 20.75 12 20.75C7.16751 20.75 3.25 16.8325 3.25 12C3.25 7.16751 7.16751 3.25 12 3.25Z" class="fill-current"/>
    <path d="M16.4697 9.53033C16.1768 9.23744 16.1768 8.76256 16.4697 8.46967C16.7626 8.17678 17.2374 8.17678 17.5303 8.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L17.5303 15.5303C17.2374 15.8232 16.7626 15.8232 16.4697 15.5303C16.1768 15.2374 16.1768 14.7626 16.4697 14.4697L18.1893 12.75H10C9.58579 12.75 9.25 12.4142 9.25 12C9.25 11.5858 9.58579 11.25 10 11.25H18.1893L16.4697 9.53033Z" class="fill-current"/>
  </svg>
  <p>Sair</p>
</button>
</div>
</div>

