<!-- Card Item Link -->
<div class="border-l-[6px] border-[#35B5AE] flex flex-col h-24 md:h-36 w-[15.9rem] bg-white drop-shadow-lg rounded-e-xl">

  <h4 [routerLink]="'/home/'+this.hash" class="pl-3 pr-1 items-start justify-center flex flex-col h-24 w-[15.5rem] -translate-y-2 -translate-x-2 drop-shadow-md rounded-e-lg text-lg font-medium text-white bg-[#35B5AE] border-[#72CBC6] border-l-[6px] text-wrap md:text-[20px] ">{{cardTitle}} </h4>

  <!-- Linha dos Botoes -->
  <span class="flex w-full justify-between items-center pt-1 pl-2">
    <app-button-delete (click)="onClick('delete')" ngClass="w-8 h-8"></app-button-delete>
    <span class="flex h-full gap-5 pr-6 items-center">
      <app-button-copy  (click)="onClick('copy')" ngClass="w-7 h-8"></app-button-copy>
      <!-- <app-button-share (click)="onClick('share')" ngClass="w-7 h-8"></app-button-share> -->
    </span>
  </span>
  <!-- END Linha dos Botoes -->
</div>
<!-- END Card Item Link -->
