<app-grid>
  <app-navbar></app-navbar>
  <div  @fadeIn500ms class="flex flex-col w-full h-full  pt-5 pb-8 px-10 md:bg-gray-100 bg-white  overflow-hidden ">
    <app-header title="Editar Redirect" class="relative">
      <button class="md:hidden shadow-sm absolute right-4 w-8 border-2 bg-red-300 border-red-300 rounded-full text-lg text-white" routerLink="/home" >X</button>
    </app-header>
      <app-content-window class="w-full h-[90%]">
        <app-form-edit-redirect class="w-full h-full"></app-form-edit-redirect>
      </app-content-window>
  </div>
  </app-grid>
