<app-grid ngClass=" items-center">
  <header class="flex md:flex-col md:justify-start md:items-center md:bg-[#257F7A]  w-full md:w-2/3 h-fit md:h-full justify-center md:m-0 mt-12">
    <app-redirectify-logo-name class="md:hidden" ></app-redirectify-logo-name>
    <div class="md:flex mt-60 hidden flex-col gap-2 items-start  justify-center">
      <svg class="w-48  h-42" viewBox="0 0 203 196" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6233 0H0V19.6233V175.933V195.557L203 195.557V175.933H19.6233V19.6233H183.377L183.377 121.8H138.591L101.119 86.6134H133.98V66.9901H85.2599H65.6366V86.6134V136.01H85.2599V98.6407L129.92 140.576V141.423H130.822L131.022 141.611L131.198 141.423H183.377L203 141.423L203 19.6233L203 0H183.377H19.6233Z" fill="white"/>
      </svg>
      <h1 class="text-white text-4xl font-semibold tracking-wider pb">Redirectfy</h1>
    </div>
    <span class="hidden  md:flex w-full items-center justify-center">
      <p class=" hidden w-48 text-white text-lg leading-normal md:flex  mt-5">O seu manager de <br> links numero um.</p>
    </span>
  </header>
  <div class="flex flex-col h-full w-full  items-center md:justify-start ">
    <p class=" md:hidden text-sm md:text-4xl md:font-semibold md:text-[#434343] mt-12">
      Seja bem vindo. Insira seus
      dados <br> ou cadastre-se para continuar.
    </p>
    <p class="hidden  text-sm md:text-4xl md:font-semibold md:text-[#434343] mt-12" >Seja bem vindo</p>
    <form action="" class="flex flex-col mt-16 " >
      <span class="p-float-label mb-9 w-60">
        <input id="email" type="text" pInputText class="border  w-60 h-10 focus:border-teal-500 hover:border-teal-500 pl-2"/>
        <label for="email">Email</label>
      </span>
      <span class="p-float-label w-60">
        <input id="password" type="password" pInputText class="border  w-60 h-10 focus:border-teal-500 hover:border-teal-500 pl-2"/>
        <label for="password">Senha</label>
      </span>
      <span class="flex justify-end w-full mt-2 ">
        <button class="mt-1 text-[#7E7E7E] underline text-sm" routerLink="/recovery"><p>Esqueceu a Senha?</p></button>
      </span>
      <div class="flex flex-col gap-3 mt-12">
        <app-button-primary class="w-full" title="Entrar"></app-button-primary>
        <app-button-secundary title="Cadastrar-se" [routerLink]="'/signup'"></app-button-secundary>
      </div>
    </form>
  </div>
</app-grid>

