<app-grid ngClass=" items-center">
  <header class="flex w-full h-fit justify-center mt-12">
    <app-redirectify-logo-name></app-redirectify-logo-name>
  </header>
  <div class="flex flex-col h-full w-full items-center ">
    <p class="text-sm mt-12">
      Seja bem vindo. Insira seus
      dados <br> ou cadastre-se para continuar.
    </p>
    <form action="" class="flex flex-col mt-16 " >
      <span class="p-float-label mb-9 w-60">
        <input id="email" type="text" pInputText class="border  w-60 h-10 focus:border-teal-500 hover:border-teal-500 pl-2"/>
        <label for="email">Email</label>
      </span>
      <span class="p-float-label w-60">
        <input id="password" type="password" pInputText class="border  w-60 h-10 focus:border-teal-500 hover:border-teal-500 pl-2"/>
        <label for="password">Senha</label>
      </span>
      <span class="flex justify-end w-full mt-2 ">
        <button class="mt-1 text-[#7E7E7E] underline text-sm" routerLink="/recovery"><p>Esqueceu a Senha?</p></button>
      </span>
      <div class="flex flex-col gap-3 mt-12">
        <app-button-primary class="w-full" title="Entrar"></app-button-primary>
        <app-button-secundary title="Cadastrar-se" [routerLink]="'/signup'"></app-button-secundary>
      </div>
    </form>
  </div>
</app-grid>

