package components

templ InputTexto(nome, label, placeholder, tipo string) {
	<label class="text-base text-rblack mb-3">{ label }</label>
	<input id={ nome } name={ nome } class="bg-rgray border-b border-rblack flex items-center justify-center p-3 text-base text-rblack w-full" type={ tipo } placeholder={ placeholder }>
	</input>
}
