<app-grid>
  <header class="flex w-full h-fit justify-center mt-12">
    <app-redirectify-logo-name></app-redirectify-logo-name>
  </header>
  <div class="w-full h-full flex flex-col items-center mt-20">
    <app-icon-mail></app-icon-mail>
    <span class="flex w-full justify-center mt-4">
      <p class="text-sm">Enviamos um link de recuperação para seu <br> e-mail. Verifique sua caixa de entrada</p>
    </span>
    <app-button-primary class="w-64 mt-8" title="Voltar para Login" routerLink=""></app-button-primary>
  </div>
</app-grid>
