<div>
    <div class="flex items-center justify-end bg-white w-full h-24 border rounded-[10px] shadow-md relative">
        <h1 class="absolute left-1/2 transform -translate-x-1/2 text-[#1B5B57] text-2xl font-semibold">Minha Conta</h1>
        <div class="flex items-center justify-center mr-4 w-14 h-14 rounded-full border-[#35B5AE] border-4">
            <h1 class="text-center text-3xl font-bold">GL</h1>
        </div>
        <button class="mr-4">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.2625 0.737488L8 6.46249L13.7375 0.737488L15.5 2.49999L8 9.99999L0.5 2.49999L2.2625 0.737488Z" fill="black"/>
        </svg>
        </button>
    </div>
</div>
