package components

templ ButtonPrimary(text, buttonType string) {
	<button class="bg-rprimary p-2.5 whitespace-nowrap text-md text-rwhite text-center shadow-md w-full font-bold" type={ buttonType } >{ text }</button>
}

templ ButtonSecondary(text, buttonType string) {
	<button class="bg-rwhite border border-rgraydarker p-2.5 whitespace-nowrap text-md text-rdark text-center shadow-md w-full font-bold" type={ buttonType } >{ text }</button>
}
