package components

templ Input(label, placeholder, inputType, hangingText string) {
	<div class="flex flex-col">
		<label class="font-bold text-rgraydarker text-md mb-2.5">{ label }</label>
		<input class="form-input border-b border-b-rblack bg-rgraylightest h-10 text-rblack text-bold p-2 placeholder:text-rgraydark" type={ inputType } placeholder={ placeholder } />

		if hangingText != "" {
			<span class="mt-1 text-rgraydarker text-sm text-end">{ hangingText }</span>
		}
	</div>
}
