package components

templ LinkCreateButton() {
	<button class="bg-rprimary p-3 rounded-lg text-rlightest text-lg" hx-get="/web/link_create_form" hx-trigger="click" hx-swap="outerHTML">Adicionar novo link +</button>
}
