<div class="flex flex-col w-full h-full">
  @if (formStep == 'init') {
    <!-- Init -->
    <div @fadeIn500ms class="flex flex-col w-full h-full items-center gap-8">
        <span class="flex w-full h-20 md:h-40 px-3 justify-center items-center relative ">
          <span class="flex gap-4 items-center">
            <input pInputText [disabled]="disableEditNome" required class=" flex text-lg h-full w-fit whitespace-nowrap items-center {{disableEditNome?'':'border-2 border-teal-400'}} text-gray-500 font-semibold justify-center md:text-3xl text-center  " [(ngModel)]="nomeRedirecionador">
            <button (click)="this.disableEditNome = !this.disableEditNome " class=" p-2 border-2 border-teal-400 rounded-md shadow-sm">
              <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-teal-400 {{disableEditNome?'':'hidden'}}">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-teal-400 {{disableEditNome?'hidden':''}}">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
              </svg>
            </button>
          </span>
        </span>
        <p class="text-sm text-gray-400 md:text-lg">Escolha qual a plataforma do seu link.</p>
        <div class="flex flex-col md:flex-row gap-5 items-center">
          <button (click)="formStep = 'formAddW'" class="flex text-lg bg-[#F7F7F7]  text-[#3CB339] active:text-white active:bg-green-400 active:bg-opacity-20 hover:bg-green-500 hover:border-transparent hover:bg-opacity-70 hover:text-white  items-center justify-center border-l-4 border-l-[#3CB339] hover:bg-gradient-to-r   hover:to-[#3CB339] gap-3 drop-shadow  rounded-lg w-64 h-12 transition-all ease-in-out duration-300  ">
          <app-icon-whatsapp ngClass="w-5 h-5"></app-icon-whatsapp>
            Whatsapp
          </button>
          <button (click)="formStep = 'formAddT'" class="flex text-lg bg-[#F7F7F7] active: text-[#28A9EA] items-center justify-center border-l-4 gap-3 border-[#28A9EA] rounded-lg w-64 h-12 active:text-white active:bg-[#28A9EA] active:bg-opacity-20 hover:bg-blue-400 hover:border-transparent hover:bg-opacity-70 hover:text-white ease-in-out transition-colors drop-shadow duration-300">
            <app-icon-telegram ngClass="w-5 h-5"></app-icon-telegram>
            Telegram
          </button>
        </div>
      </div>
      <div class="flex flex-col w-full h-full  items-center gap-4 pt-4 font-medium text-[#A9A9A9]">
        @if(editDataEmpty()){
          <div class="flex md:flex-row h-fit  flex-col md:items-center  gap-4 md:gap-8">
            <!-- Alternar Prioridade -->
            <div *ngIf="this.editData['whatsappData'] != undefined && this.editData['telegramData'] != undefined" class="md:flex flex-col hidden text-sm   gap-4  h-full items-center">
              <p>Prioridade</p>
              <button (click)="prioridade == 'whatsapp,telegram'?'telegram,whatsapp':'whatsapp,telegram'" class="bg-[#F7F7F7] w-14 h-14 rounded-md drop-shadow group hover:bg-[rgb(53,181,174,1)] flex items-center justify-center transition-all ease-in-out duration-300">
                <svg class="w-8 h-8 fill-[#257F7A] group-hover:fill-white" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_827_1903)">
                  <path d="M7.875 2.625L4.375 6.11625H7V12.25H8.75V6.11625H11.375L7.875 2.625ZM14 14.8837V8.75H12.25V14.8837H9.625L13.125 18.375L16.625 14.8837H14Z"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_827_1903">
                  <rect width="21" height="21" fill="white"/>
                  </clipPath>
                  </defs>
                  </svg>
              </button>
            </div>
            <div class="flex flex-col gap-5 md:gap-8   {{this.editData['whatsappData'] != undefined && this.editData['telegramData'] != undefined?'md:pr-40 md:pl-8':'md:pl-0 md:pr-0'}}">
              <!-- Botão links wpp -->
              <button  (click)="getContacts('whatsapp')" *ngIf="this.editData['whatsappData'] != undefined" (click)="formStep = 'getWContacts'" class=" flex w-72 h-10 md:h-12 md:w-96 bg-[#F7F7F7]  shadow-md text-sm items-center justify-around rounded-md border-l-4 border-l-green-400">
              <app-icon-whatsapp ngClass="w-5 h-5"></app-icon-whatsapp>
               Contatos do WhatsApp
              <svg class="w-5 h-5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_485_711)">
                <path d="M6.44238 12.4425L9.87738 9L6.44238 5.5575L7.49988 4.5L11.9999 9L7.49988 13.5L6.44238 12.4425Z" fill="#257F7A" fill-opacity="0.6"/>
                </g>
                <defs>
                <clipPath id="clip0_485_711">
                <rect width="18" height="18" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              </button>
               <!-- END Botão links wpp -->
              <button (click)="getContacts('telegram')" *ngIf="this.editData['telegramData'] != undefined" class="flex w-72 h-10 md:h-12 md:w-96 bg-[#F7F7F7] shadow-md text-sm items-center justify-between px-[0.95rem]  rounded-md border-l-4 border-l-[#28A9EA]">
              <app-icon-telegram ngClass="w-[1.1rem] h-5"></app-icon-telegram>
               Links do Telegram
                <svg class="w-5 h-5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_485_711)">
                  <path d="M6.44238 12.4425L9.87738 9L6.44238 5.5575L7.49988 4.5L11.9999 9L7.49988 13.5L6.44238 12.4425Z" fill="#257F7A" fill-opacity="0.6"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_485_711">
                  <rect width="18" height="18" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
            </button>
            </div>

          </div>
        }
      <div class="flex flex-col w-fit md:w-full md:flex-row-reverse md:pt-16  md:pb-10 md:px-10  gap-5 md:justify-evenly">
        <app-button-primary *ngIf="editDataEmpty()" (click)="formStep = 'enterName'" class="w-72 md:m-0 mt-5"  title="Finalizar"></app-button-primary>
        <app-button-secundary  class=" w-72 h-12 hidden md:flex"title="Cancelar"></app-button-secundary>
        <app-button-secundary *ngIf="editDataEmpty() && this.editData['whatsappData'] != undefined && this.editData['telegramData'] != undefined " class="w-72 group md:hidden"title="Alternar Prioridade">
          <svg class="w-5 h-5 fill-[#257F7A] group-hover:fill-white" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_827_1903)">
          <path d="M7.875 2.625L4.375 6.11625H7V12.25H8.75V6.11625H11.375L7.875 2.625ZM14 14.8837V8.75H12.25V14.8837H9.625L13.125 18.375L16.625 14.8837H14Z"/>
          </g>
          <defs>
          <clipPath id="clip0_827_1903">
          <rect width="21" height="21" fill="white"/>
          </clipPath>
          </defs>
          </svg>
          </app-button-secundary>
      </div>
    </div>
  }
  @else if (formStep == 'formAddW') {
    <div @fadeIn500ms class="flex flex-col w-full h-full items-center gap-8 ">
        <span class="flex w-full h-20 p-3 justify-center items-center relative">
          <h4 class=" flex text-xl whitespace-nowrap text-gray-500 font-semibold w-fit justify-center items-center">Informações do Contato</h4>
        </span>
        <form [formGroup]="createLinkForm" (ngSubmit)="addContact('whatsapp')" class="flex flex-col h-full gap-8 items-center">
          <div class="flex flex-col">
            <div class="flex gap-2">
              <label for="w-numero" class="flex  gap-2 items-center ease-in-out duration-300"> <app-icon-whatsapp ngClass="w-5 h-5"></app-icon-whatsapp></label>
                  <!-- Input Numero -->
                  <input formControlName="link" id="w-numero" placeholder="+XX (XX) 91234-5678" type="text" pInputText class="flex border-l-4 border-l-green-400  border w-52 h-10 focus:border-teal-500 hover:border-teal-500 pl-2 text-sm"/>
                  <!-- END Input Numero -->
            </div>
                <small *ngIf="this.createLinkForm.controls['link'].invalid && submitted" class="text-red-500 ml-8">Este campo é obrigatorio</small>
          </div>
          <div class="flex flex-col">
            <div class="flex gap-2">
              <label for="w-numero" class="flex  gap-2 items-center ease-in-out duration-300">
                <svg class="w-5 h-5" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_485_732)">
                    <path d="M13.3333 1.33331H2.66659C1.93325 1.33331 1.33992 1.93331 1.33992 2.66665L1.33325 14.6666L3.99992 12H13.3333C14.0666 12 14.6666 11.4 14.6666 10.6666V2.66665C14.6666 1.93331 14.0666 1.33331 13.3333 1.33331ZM13.3333 10.6666H3.44659L3.05325 11.06L2.66659 11.4466V2.66665H13.3333V10.6666ZM6.99992 9.33331H11.9999V7.99998H8.33325L6.99992 9.33331ZM9.57325 5.41998C9.70658 5.28665 9.70658 5.07998 9.57325 4.94665L8.39325 3.76665C8.25992 3.63331 8.05325 3.63331 7.91992 3.76665L3.99992 7.68665V9.33331H5.64659L9.57325 5.41998Z" fill="#257F7A"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_485_732">
                      <rect width="16" height="16" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </label>
              <!-- Input Nome Contato -->
              <input id="w-contato" formControlName="nome" placeholder="Nome do Contato (Opcional)" type="text" pInputText class="flex border-l-4 border-l-[#35B5AE]  border w-52 h-10 focus:border-teal-500 hover:border-teal-500 pl-2 text-sm"/>
              <!-- END Input Nome Contato -->
            </div>
            <small *ngIf="this.createLinkForm.controls['nome'].invalid && submitted" class="text-red-500 ml-8">Este campo é obrigatorio</small>
          </div>
            <div class="flex flex-col">
              <div class="flex gap-2">
                <label for="w-contato" class="flex  gap-2 items-center ease-in-out duration-300">
                  <svg class="w-5 h-5" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_330_365)">
                      <path d="M13.3333 2.66665V11.4466L12.5533 10.6666H2.66659V2.66665H13.3333ZM13.3333 1.33331H2.66659C1.93325 1.33331 1.33325 1.93331 1.33325 2.66665V10.6666C1.33325 11.4 1.93325 12 2.66659 12H11.9999L14.6666 14.6666V2.66665C14.6666 1.93331 14.0666 1.33331 13.3333 1.33331ZM11.9999 7.99998H3.99992V9.33331H11.9999V7.99998ZM11.9999 5.99998H3.99992V7.33331H11.9999V5.99998ZM11.9999 3.99998H3.99992V5.33331H11.9999V3.99998Z" fill="#257F7A"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_330_365">
                        <rect width="16" height="16" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                </label>
                <!-- Input Mensagem Padrão -->
                <input id="w-menssagem" formControlName="mensagem" placeholder="Mensagem Padrão (Opcional)" type="text" pInputText class="flex border-l-4 border-l-[#35B5AE]  border w-52 h-10 focus:border-teal-500 hover:border-teal-500 pl-2 text-sm"/>
                  <!-- END Input Mensagem Padrão -->
              </div>
            </div>
            <div class="flex flex-col w-full h-40 justify-center gap-5 ">
              <app-button-primary type="submit" class="h-12" title="Adicionar Contato"></app-button-primary>
              <app-button-secundary (click)="formStep = 'init'; submitted=false" title="Voltar" ></app-button-secundary>
            </div>
        </form>
    </div>
  }
  @else if (formStep == 'formAddT'){
    <div  @fadeIn500ms class="flex flex-col w-full h-full items-center gap-8 ">
      <span class="flex w-full h-20 p-3 justify-center items-center relative">
        <h4 class=" flex text-xl whitespace-nowrap text-gray-500 font-semibold w-fit justify-center items-center">Informações do Contato</h4>
      </span>
      <form  [formGroup]="createLinkForm" class="flex flex-col h-full gap-8 items-center" (ngSubmit)="addContact('telegram')">
        <div class="flex flex-col">
          <div class="flex gap-2">
              <label for="t-link" class="flex  gap-2 items-center ease-in-out duration-300"> <app-icon-telegram ngClass="w-5 h-5"></app-icon-telegram></label>
              <!-- INPUT LINK -->
              <input id="t-link" formControlName="link" placeholder="https://t.me/exemplo" type="text" pInputText class="flex border-l-4 border-l-[#26A5E5]  border w-52 h-10 focus:border-teal-500 hover:border-teal-500 pl-2 text-sm"/>
               <!-- END INPUT LINK -->
          </div>
          <small *ngIf="this.createLinkForm.controls['link'].invalid && submitted" class="text-red-500 ml-8">Este campo é obrigatorio</small>
        </div>
        <div class="flex-col gap-2">
          <div class="flex gap-2">
            <label for="t-nome" class="flex  gap-2 items-center ease-in-out duration-300">
              <svg class="w-5 h-5" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_485_732)">
              <path d="M13.3333 1.33331H2.66659C1.93325 1.33331 1.33992 1.93331 1.33992 2.66665L1.33325 14.6666L3.99992 12H13.3333C14.0666 12 14.6666 11.4 14.6666 10.6666V2.66665C14.6666 1.93331 14.0666 1.33331 13.3333 1.33331ZM13.3333 10.6666H3.44659L3.05325 11.06L2.66659 11.4466V2.66665H13.3333V10.6666ZM6.99992 9.33331H11.9999V7.99998H8.33325L6.99992 9.33331ZM9.57325 5.41998C9.70658 5.28665 9.70658 5.07998 9.57325 4.94665L8.39325 3.76665C8.25992 3.63331 8.05325 3.63331 7.91992 3.76665L3.99992 7.68665V9.33331H5.64659L9.57325 5.41998Z" fill="#257F7A"/>
              </g>
              <defs>
              <clipPath id="clip0_485_732">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            </label>
            <!-- INPUT NOME -->
            <input id="" formControlName="nome" placeholder="Nome do Contato (Opcional)" type="text" pInputText class="flex border-l-4 border-l-[#35B5AE]  border w-52 h-10 focus:border-teal-500 hover:border-teal-500 pl-2 text-sm"/>
            <!-- END INPUT NOME  -->
          </div>
          <small *ngIf="this.createLinkForm.controls['nome'].invalid && submitted" class="text-red-500 ml-8">Este campo é obrigatorio</small>
        </div>
        <div class="flex flex-col w-full h-40 justify-center gap-5 ">
          <app-button-primary type="submit" class="h-12" title="Adicionar Contato"></app-button-primary>
          <app-button-secundary title="Voltar" (click)="formStep = 'init'; submitted=false" ></app-button-secundary>
        </div>
      </form>
    </div>

  }
  @else if (formStep == 'getContacts') {
    <div @fadeIn500ms class="flex flex-col w-full h-4/6 items-center gap-8 px-3 overflow-y-auto overflow-x-hidden">
      <span class="flex w-full h-fit pt-5 px-3 justify-center items-center relative ">
        <h4 class=" flex text-lg h-full whitespace-nowrap items-center  text-gray-500 font-semibold w-full justify-center  ">{{getPlataforma == 'whatsapp'?'WhatsApps':'Telegrams'}} Vinculados</h4>
      </span>
      <div class="w-96  flex text-sm font-semibold flex-col items-center gap-4  ">
      @if(getPlataforma == 'whatsapp'){
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
          <app-card-contact-mobile></app-card-contact-mobile>
      } @else if(getPlataforma == 'telegram') {

        @for (data of editData['telegramData']; track $index) {

          <label  for="contatoWppSelecionado1" class="flex w-full h-14  justify-evenly items-center border-b border-b-gray-100 text-[#C2C2C2]"> <input class="" type="radio" name="contatoWppSelecionado" id="contatoWppSelecionado1">
            <p class="w-28">{{data.nome}}</p>
            <p>{{data.link}}</p>
          </label>

        }
      }
    </div>
  </div>
  <div class="flex flex-col w-full justify-center items-center ">
    <app-button-secundary class="w-64 h-12 mt-20" (click)="formStep = 'init'" title="Voltar" ></app-button-secundary>
  </div>
  }
  </div>
