<div class="w-full flex justify-center items-center">
    <div
        class=" flex items-start bg-[#F7F7F7] h-20 w-[300px] border-b border-[#E0E0E0] border-b-4 p-2 rounded-[3px] mt-6">
        <div class="flex items-center justify-center w-16 h-16 rounded-full border-green-400 border-2">
            <h1 class="text-center text-3xl font-bold">GL</h1>
            <button class="absolute mt-10 ml-10 bg-white  p-1 rounded-full">
                <svg width="16" height="16" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_828_2192)">
                        <path
                            d="M1.125 6.46875V7.875H2.53125L6.67875 3.7275L5.2725 2.32125L1.125 6.46875ZM2.22 7.125H1.875V6.78L5.2725 3.3825L5.6175 3.7275L2.22 7.125ZM7.76625 2.11125L6.88875 1.23375C6.81375 1.15875 6.72 1.125 6.6225 1.125C6.525 1.125 6.43125 1.1625 6.36 1.23375L5.67375 1.92L7.08 3.32625L7.76625 2.64C7.9125 2.49375 7.9125 2.2575 7.76625 2.11125Z"
                            fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_828_2192">
                            <rect width="9" height="9" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
        <div class="flex flex-col ml-3 mt-2">
            <h1 class="text-black font-semibold text-[18px]">Guilherme Lirioberto</h1>
            <p class="font-bold text-cyan-500 underline mb-5 text-[18px]">Premium</p>
        </div>
    </div>
</div>