<div class="w-full flex justify-center items-center">
    <div class=" flex items-start bg-[#F7F7F7] h-20 w-[300px] border-b border-[#E0E0E0] border-b-4 p-2 rounded-[3px] mt-6">
        <div class="flex items-center justify-center w-16 h-16 rounded-full border-green-500 border-2"><h1 class="text-center text-3xl font-bold">GL</h1></div>
        <div class="flex flex-col ml-2 mt-2">
        <h1 class="text-black font-semibold text-[18px]">Guilherme Lirioberto</h1>
        <p class="font-bold text-cyan-500 underline mb-5 text-[18px]">Premium</p></div>
    </div>
</div>


