package views

templ Login() {
	<header>
		<img src="/static/images/logo_primary.svg"/>
		<h1>Redirectify</h1>
	</header>
	@InputTexto()
	@InputTexto()
	@AccentButtonSubmit()
	@Button()
	<hr />
	<span>ou</span>
	<hr />
	<footer>
		<hr />
		<img />
		<span>DevOps Company</span>
	</footer>
}
